# Test 1 Solutions

In [58]:
from datascience import *
import numpy as np
import math

## 1. T/F

## 2. Expressions

In [7]:
a = make_array(0, 3, 2, 2)
b = make_array(2, 2, 2, 2)
c = make_array('a','b','c','d')

t = Table().with_columns(
  "First", c,
  "Second", a*b,
  "Third", c,
  "Fourth", make_array(c.item(a.item(0)), c.item(a.item(1)),
                      c.item(a.item(2)), c.item(a.item(3)))
   
) 
t

First | Second | Third | Fourth
a     | 0      | a     | a
b     | 6      | b     | d
c     | 4      | c     | c
d     | 4      | d     | c

## 3. Functions

In [59]:
def pyrvolume(s, h):
    """
    return volume of pyramid with side s and height h
    """ 
    return s*s*h/3

def pyrsurface(s, h):
    """
    return surface area of pyramid with side s and height h
    """ 
    return s*s + 2*s*math.sqrt((s*s)/4 + h*h)

In [60]:
pyrsurface(2,2)

12.94427190999916

## 4. Movie Tables

In [25]:
imdb = Table.read_table('imdb.csv')
# 4.1
lowest_rating = min(imdb.column('Rating'))

# 4.2
elite_movie = imdb.where('Rating', are.above_or_equal_to(9.0)).num_rows

# 4.3
ave_rating = imdb.column('Rating').mean()
imdb = imdb.with_column('Diff', abs(imdb.column('Rating')-ave_rating))
imdb.sort('Diff').column('Title').item(0)

"Singin' in the Rain"

## 5. Uber Tables

In [38]:
boston = Table.read_table("boston.csv")
manila = Table.read_table('manila.csv')
bins = np.arange(0, 120, 5)
boston.hist("ride time",bins=bins,unit="Minutes")

# 5.3
short_rides = boston.where('ride time', are.below(15)).num_rows/boston.num_rows

# 5.4
boston.group(['sourceid', 'hod']).column('count').max()

# 5.5
def dist(start, end):
  """
  Returns the distance in miles between sourceid start and the destid end
  """
  return 0

bs = boston.apply(dist, 'sourceid', 'dstid')/boston.column('ride time')
ms = manila.apply(dist, 'sourceid', 'dstid')/manila.column('ride time')

/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_axes.py:6462: UserWarning: The 'normed' kwarg is deprecated, and has been replaced by the 'density' kwarg.
  warnings.warn("The 'normed' kwarg is deprecated, and has been "

array([0., 0., 0., ..., 0., 0., 0.])

## 6. NBA

In [50]:
nba = Table.read_table('nba_salaries_16.csv').relabeled(3, 'SALARY')
# 6.1
def salary(p):
    return nba.where('PLAYER', p).column('SALARY').item(0) * 1e6

# 6.2
superteams = nba.where('SALARY', are.above(10)).group('TEAM').where('count',are.above(2)).num_rows

# 6.3
startsal = nba.pivot('POSITION', 'TEAM',values='SALARY', collect=np.max)

In [49]:
salary('Al Horford')

12000000.0